@use '../../styles/vars';
@use 'sass:color';

.aside{
  width: 2.7%;
  border-right: 2px solid vars.$brown;
  background: vars.$yellow;
  text-align: center;
  display: flex;
  align-items: baseline;
  &--open{
    width: 20%;
    @media (max-width: 1024px) {
      width: 25%;
    }
  }
  &-panel{
    display: none;
    width: 100%;
    &--open{
      display: block;
    }
  }


  &-button{
    border: 3px solid black;
    border-radius: 50%;
    background-color: color.scale(vars.$yellow, $lightness: +15%);
    padding: vars.$gutter*0.5;
    transition: transform .2s ease-in-out;
    position: relative;
    left: 25px;
    top: calc(40vh - 23px);
    &:hover{
      transform:rotate(90deg);
    }
    &-img{
      width: 30px;
    }
  }
}