@use '../../styles/vars';
@use 'sass:color';

.app {
  width: 100%;
  height: 100vh;
  &-separation {
    display: flex;
    height: 80vh;
    justify-content: space-between;
  }
}

.add{
  font-size: vars.$gutter*2;
  font-weight: bold;
  padding-right: vars.$gutter;
}
