@use '../../styles/vars';
@use 'sass:color';

.games{
  background-image: url(../../assets/images/backgrounds/background4.jpg);
  background-position: center;
  background-size: cover;
  color: white;
  height: 82vh;
  overflow-y: auto;
}