$gutter: 16px;

$background: #4F646F;

$primary-color: #F7F7FF;
$secondary-color: #535657;

$button-color: rgb(228, 209, 42);
$button-border: black;
$addButton: rgb(21, 129, 156);

$color: rgb(54, 142, 224);

$brown: #1E1F1F;
$yellow: rgb(228, 209, 42);
$grey: #D2D5DD;