$gutter: 16px;

$background: #4F646F;

$primary-color: #F7F7FF;
$secondary-color: #535657;

$button-hardware: rgb(11, 67, 112);
$button-delete: rgb(170, 15, 23);
$button-add: rgb(37, 156, 21);

$color: rgb(54, 142, 224);

$brown: rgb(70, 135, 187);
$yellow: rgb(231, 232, 236);
$grey: #D2D5DD;