@use '../../styles/vars';
@use 'sass:color';

.wishlist{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: flex-start;
  background-image: url(../../assets/images/backgrounds/background5.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  overflow-y: auto;
  &::-webkit-scrollbar{
    width: vars.$gutter;
    &-track{
      padding-left: vars.$gutter;
      background: vars.$brown;
      border-radius: 15px;
    }
    &-thumb{
      padding-left: vars.$gutter;
      background-color: vars.$yellow;
      border: 4px solid vars.$brown;
      border-radius: 15px;
    }
  }
  
  &-game{
    width: 30%;
    text-align: center;
    color: vars.$brown;
    background-color: vars.$yellow;
    margin: vars.$gutter;
    padding: vars.$gutter;
    box-shadow: 6px 6px 0 color.scale(vars.$brown, $lightness:+30%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  
    &-title{
      border-bottom: 2px solid vars.$brown;
      padding-bottom: vars.$gutter;
      margin-bottom:  vars.$gutter;
      text-align: left;
    }

    &-item{
      padding: 0 vars.$gutter*2;
      display: flex;
      align-items: baseline;
      &-title{
        margin-right: vars.$gutter;
      }

    }

    &-manage{
      display: flex;
      justify-content: space-evenly;
      border-top: 2px solid vars.$brown;
      padding-top: vars.$gutter;
      //margin-bottom:  vars.$gutter;
      & button{
        border: none;
        padding: 0 vars.$gutter*0.5;
        color: vars.$yellow;
        background-color: vars.$brown;
        display: flex;
        align-items: center;
      }
    }
  }
}