@use '../../styles/vars';
@use 'sass:color';

.header{
  background-color: vars.$yellow;
  border-bottom: 2px solid vars.$brown;
  height: 20vh;
  display: flex;
  & hr{
    margin: 0;
  }
  &-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-right: 2px solid vars.$brown;
    background-color: vars.$yellow;
    &-img{
      max-height: 19vh;
    }
  }
  &-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
  &-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 vars.$gutter;
  }
  &-ranking{
    display: flex;
    justify-content: space-between;
    padding: vars.$gutter*0.5;
    &-add{
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 vars.$gutter;
      color: vars.$yellow;
      border:none;
      background: linear-gradient(45deg, transparent 5%, vars.$brown 5%);
      font-size: vars.$gutter;
      font-weight: bold;
      &:hover{
        color: vars.$brown;
        background: vars.$yellow;
        border: 2px solid vars.$brown;
      }
    }
  }
  &-select{
    display: flex;
    &-title{
      margin: vars.$gutter vars.$gutter*2;
    }
    &-link{
      text-align: left;
      padding: vars.$gutter*0.5;
      color: vars.$brown;
      background-color:  vars.$yellow;
      border: 2px solid vars.$brown;
      &:hover{
        background-color: vars.$brown;
        border: 2px solid vars.$brown;
        color: vars.$button-color;
        box-shadow: inset 0 0 5px white;
      }
      &:not(:last-child){
        border-right: none;
      }
      &:first-child{
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
      &:last-child{
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
    }
  }
  &-search{
    &-input{
      padding: vars.$gutter*0.5;
      border: 1px solid grey;
      border-radius: 5px;
      margin-right: vars.$gutter;
    }
    &-submit{
      text-align: left;
      padding: vars.$gutter*0.4;
      color: vars.$brown;
      background-color:  vars.$button-color;
      border: 2px solid vars.$brown;
      border-radius: 5px;
      font-size: vars.$gutter*1.2;
      &:hover{
        background-color: vars.$brown;
        border: 2px solid vars.$brown;
        color: vars.$button-color;
      }
    }
  }
  &-user{
    display: flex;
    align-items: flex-end;
    &-welcome{
      margin-right: vars.$gutter*1.5;
      font-size: vars.$gutter*1.6;
      font-weight: bold;
    }
    &-logout{
      text-align: left;
      padding: vars.$gutter*0.5;
      color: vars.$brown;
      background-color:  vars.$button-color;
      border: 2px solid vars.$brown;
      border-radius: 5px;
      font-size: vars.$gutter*1.2;
      &:hover{
        background-color: vars.$brown;
        border: 2px solid vars.$brown;
        color: vars.$button-color;
      }
    }
  }
}

.active{
  background-color: vars.$brown;
  border: 2px solid vars.$brown;
  color: vars.$yellow;
}