@use '../../styles/vars';
@use 'sass:color';

.panel{
  display: flex;
  flex-direction: column;
  padding: vars.$gutter;
  overflow-y: auto;
  &-button{
    text-align: left;
    width: 100%;
    margin: vars.$gutter*0.2 0;
    padding: vars.$gutter*0.5;
    color: vars.$button-border;
    background-color:  vars.$button-color;
    border: 2px solid vars.$button-border;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    &:hover{
      background-color: vars.$button-border;
      border: 2px solid vars.$button-border;
      color: vars.$button-color;
      box-shadow: inset 0 0 5px white;
    }
    &--active{
      text-align: left;
      width: 100%;
      margin: vars.$gutter*0.2 0;
      padding: vars.$gutter*0.5;
      background-color: vars.$button-border;
      border: 2px solid vars.$button-border;
      border-radius: 5px;
      color: vars.$button-color;
      box-shadow: 0 0 3px black;
    }
    &-add{
      margin-bottom: vars.$gutter;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 vars.$gutter;
      text-align: center;
      color: vars.$addButton;
      border: 3px solid vars.$addButton;
      background-color: white;
      border-radius: 5px;
      font-size: vars.$gutter;
      font-weight: bold;
      &:hover{
        color: white;
        border: 3px solid vars.$addButton;
        background-color: vars.$addButton;
      }
    }
  }
  &-hardware{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: vars.$gutter;
      &-track{
        background: black;
        border-radius: 15px;
      }
      &-thumb{
        background-color: white;
        border: 4px solid black;
        border-radius: 15px;
      }
    }
  }
}

.company{
  &-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: vars.$gutter*0.5;
    margin: vars.$gutter*0.5 0;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(16, 130, 138);
    color: white;
    &-title{
      font-size: vars.$gutter;
      font-weight: bold;
      margin: 0;
    }
    &-arrow{
      width: vars.$gutter;
    }
  }
}