@use '../../styles/vars';
@use 'sass:color';

.subscribe{
  width: 400px;
  background-color: vars.$brown;
  color: vars.$yellow;
  padding: vars.$gutter;
  border-radius: 15px;
  text-align: center;
  text-shadow: 0 0 3px black;
  box-shadow:  0 0 30px black;
  &-form{
    text-align: left;
  }
  &-redirect{
    margin-top: vars.$gutter*2;
    cursor: pointer;
    //text-shadow: 0 0 5px white;
    & p{
      font-size: vars.$gutter*1.2;
      color: vars.$yellow;
      text-decoration: underline;
      &:hover{
        filter: contrast(200%);
      }
    }
  }
}